/boost_1_69_0/
/of_v0.12.0_vs_release/
/gamma/
/LeapSDK/
/ofxOsc/

/main/Release
/main/Gamma
/main/Debug
/main/*.wav
/main/.*
/main/*.def
/main/*.dll
/main/*.lib
/main/*.opendb
/main/*.filters
/main/*.sdf
/main/*.user
/openFrameworksHand/.*
/openFrameworksHand/*.wav
/openFrameworksHand/obj
/openFrameworksHand/bin
/main/config.txt
/openFrameworksHand/config.txt
/main/x64/
