/main/Release
/main/Gamma
/main/Debug
/main/*.wav
/main/.*
/main/*.def
/main/*.dll
/main/*.lib
/gamma/
/main/*.opendb
/main/*.filters
/main/*.sdf
/main/*.user
/LeapSDK
/openFrameworksHand/*.wav
/openFrameworksHand/obj
/openFrameworksHand/bin
/main/config.txt
/openFrameworksHand/config.txt
/main/x64/
